* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #212F3C;
    color: #ffffff;
}
main{
    width: 90%;
    max-width: 900px;
    margin: 1.7em auto;
}
footer{
    width: 90%;
    max-width: 900px;
    margin: 1.7em auto;
    text-align: center;
}


/* Estilos para el modo claro */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}
.light-mode button{
    color: black;
    background-color: white;
}
.light-mode .mode-button:active {
    background-color: #243f4c;
    outline: 0;
}
.light-mode .mode-button:hover{
    background-color: #6b7f92;
}
.light-mode .img_profile img {
    border: 5px solid #000000;  
}
.light-mode .btn-header button{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.light-mode .btn-curriculum:hover{
    background-color: #4f8cbe;
}
.light-mode .btn-github:hover{
    background-color: #F1502F;
    
}
.light-mode .btn-linkedin:hover{
    background-color: #1a79d2;
}
.light-mode .presentacion .miDescripcion{
    color: #000000;
    opacity: 1;
}
.light-mode .presentacion{
    background-color: #fff;
}
.light-mode .miDescripcion{
    background: linear-gradient(to right, #3b82f6, #ffffff);
}
.light-mode section, .light-mode .presentacion{
    background-color: #eceff1;
}
.light-mode header{
    color: #000000;
    text-shadow: 2px 0 0 #935512;
}
.light-mode .opacity-60{
    opacity: 1;
}
.light-mode .text-base-certificados{
    color: #263240;
}
.light-mode .description_proyectos{
    background-color: #fff;
}
.light-mode .description_proyectos:hover{
    box-shadow: 0 0 5px #0073ff;
    background-color: #e4e4e4;
}
.light-mode .code-github{
    background-color: #fff;
}
.light-mode .code-github:hover{
    background-color: #f8f8f8;
    box-shadow: 0 0 2px #457fb2;
    border: 2px solid #88898b;
}
.light-mode .btn-copiar{
    background-color: #2570b7;
}
.light-mode form{
    background-color: #fff;
}
.light-mode form label{
    color: #000;
}
.light-mode form input{
    background-color: #eceff1;
    border: 2px solid #000000;
}
.light-mode form textarea{
    background-color: #eceff1;
    border: 2px solid #000000;
    color: #000;
}
.light-mode input::placeholder,.light-mode textarea::placeholder {
    color:#000;
    opacity: .9;
}
.light-mode input:valid, .light-mode textarea:valid{
    color: #db8617;
    font-weight: bold;
}
.light-mode form button{
    background-color: #eceff1;
}

.mode {
    text-align: right; /* PUEDO NO SERVIR */
    height: 50px;
}
/* Estilos para el botón de cambio de modo */
.mode-button {
    align-items: center;
    background-color: #15222f;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #243f4c;
    cursor: pointer;
    font-size: 2em;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.mode-button:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}
.mode-button:hover:after {
    transform: translate(0, 0);
}
.mode-button:active {
    background-color: #ffffff;
    outline: 0;
}
.mode-button:hover {
    background-color: #041621;
    outline: 0;
}


/* IMAGEN_PERFIL-NOMBRE-DESCRIPCION */
.presentacion{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.img_profile {
    z-index: 2;
    flex: 0;
}
.img_profile img {
    width: 200px; /* Ancho deseado */
    height: 200px; /* Altura deseada */
    object-fit:cover; /* Mantiene las proporciones y recorta el contenido que sobresale */
    object-position: bottom; /* Ajusta la posición de la imagen hacia la parte inferior */
    border-radius: 50%;
    border: 5px solid #304559; /*#111;*/
    transition: transform 0.3s ease; /* Agrega una transición suave al efecto de zoom */
    cursor: zoom-in; 
}
#zoom-image {
    transition: transform 0.3s ease-in-out;
}
.zoomed {
    transform: scale(1.5);
}
/*HIJO DE PRESENTACION*/
.description {
    flex: 1;
    padding: 40px;
    position: relative;
    z-index: 1;
}
/* NOMBRE */
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 40px;
    font-size: 50px;
}
.miDescripcion{
    font-family: 'Montserrat', sans-serif;
    opacity: 0.7;
    font-size: 30px;
    margin-top: 15px;
    font-weight: bold;
    background: linear-gradient(to right, #3b82f6, #ffffff);
    -webkit-background-clip: text; 
    color: transparent; 
}
.miDescripcion span{
    font-family: 'Montserrat', sans-serif;
    opacity: 0.7;
    font-size: 20px;
    margin-top: 30px;
    color: #ffffff;
}
.btn-header {
    padding: 15px;
    display: flex;
    justify-content: start;
    /* height: 40px; */
}
.btn-header a{
    display: flex;
    text-decoration: none;
}
.btn-header button {
    color: #ffffff;
    background-color: #0062ff;
    border: 1px solid #ffffff;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    width: 140px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
    font-size: 18px;
}
.btn-header button:hover{
    background-color: #11479c;
    cursor: pointer;
}
.btn-header i{
    font-size: 20px;
}
.contenedor-logo-github img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}



/* LINEA SEPARACIÓN */
hr{
    border: none; /* Sin borde predeterminado */
    height: 2px; /* Altura de la línea */
    background-color: #1a6d2c; 
    margin: 20px 0; 
    animation: expand 3s ease infinite; /* Animación de expansión */
}
@keyframes expand {
    0% {
        width: 0; 
    }
    100% {
        width: 100%; 
    }
}
section, .presentacion{
    background-color: #1c2834;
    border-radius: 1%;
}
header{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin: 50px 0px 10px 0px;
    text-shadow: 3px 0 0 #12934c; /* Desplaza la sombra 3px a la derecha y sin desplazamiento vertical */
    color: #fff; /* Color del título principal */
}
/* EXPERIENCIA */
.experiencia{
}
.sobre-mi {
    display: flex;
}
.aprendizaje {
    flex: 1; /* Ocupa todo el espacio disponible */
    margin-right: 20px; /* Ajusta el margen entre las columnas según sea necesario */
}
.sobre-mi-text {
    flex: 1; /* Ocupa todo el espacio disponible */
}
.ml-5{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 1.7rem;
    font-size: 20px;
    font-weight: bold;
}
.ml-5::marker {
    color: #12934c;
    font-size: 30px;
}
.Gill-Sans {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.opacity-60 {
    opacity: .6;
}
.text-base-educacion {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #1a99cb;
}
.block {
    display: block;
}
.xp {
    display: flex;
}
.certificados {
    flex: 1; /* Ocupa todo el espacio disponible */
    margin-right: 20px; /* Ajusta el margen entre las columnas según sea necesario */
    padding-bottom: 20px;
}
.text-base-certificados {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #dcdfe8;
}
.tecnologias {
    flex: 1; /* Ocupa todo el espacio disponible */
    padding-bottom: 20px;
}
.experiencia > article > div{
    padding-top: 25px;
}
.experiencia h2,h3,h4,h5{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #00a53f;
}
.experiencia p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.tecnologias_logos div{
    margin-top: 15px;
}
.contenedor-logo {
    position: relative;
    display: inline-block;
}
.contenedor-logo img{
    width: 60px;
    height: 60px;
    vertical-align: middle;
}
.contenedor-logo i {
    vertical-align: middle;
    font-size: 50px;
    width: 60px;
    height: 50px;
}
#oracle{
    width: 70px;
    height: 70px;
}
#mysql{
    width: 70px;
    height: 70px;
}
#sql_server{
    width: 70px;
    height: 70px;
    background-color: #9d9d9d;
    border-radius: 10%;
}
#unity{
    width: 100px;
    height: 40px;
}


/* PROYECTOS */
.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.proyectos article {
    display: flex;
    flex: 1;
    margin-bottom: 30px;
}
.img_proyectos{
    width: 450px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}
.img_proyectos img {
    width: 450px;
    height: 250px;
    object-fit:cover; 
    border-radius: 8%;
    cursor:none;
    /* transform: scale(0.9); */
    transition: transform 0.3s ease; /* Agrega una transición suave al efecto de zoom */
}
.img_proyectos img:hover{
    transform: scale(1.2);
}
.img_proyectos{
    flex: 1;
    margin-right: 50px; /* Ajusta el margen según tus preferencias */
}
.img_proyectos > #phone{
    width: auto;
    height: 100%;
}
.description_proyectos {
    flex: 1;
    /* margin-right: 50px; Ajusta el margen según tus preferencias */
    border: 2px solid #244561;
    border-radius: 10%;
    background-color:#142336;
    transition: box-shadow 0.3s;
    position: relative; /* Añadido para ajustar el z-index del hover */
}
/* Cambios en el hover del contenedor principal */
.description_proyectos:hover {
    box-shadow: 0 0 5px #ffffff;
    background-color: #101c2d;
}
.description_proyectos p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    height: 100px;
    padding: 10px;
}
.btn_proyecto{
    display: flex;
    justify-content: flex-start; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding: 10px;
}
.btn_proyecto a{
}
.code-github{
    color: #00b5e8;
    background-color: #142336;
    border-radius: 10%;
    border: 2px solid #00b5e8;
    margin-left: 20px;
    display: flex;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.3s;
}
.code-github:hover{
    background-color: #1a3257;
    box-shadow: 0 0 2px #ffffff;
}
.code-github span{
    flex: 1;
    font-size: 20px;
    margin: 12px;
}
.code-github svg{
    flex: 1;
    padding: 5px;
    width: 40px;
    height: 30px;
    color: #00b5e8;
}
.fill-primary {
    fill: #00b5e8;
}
.fill-white {
    fill: #ffffff;
    font-size: 20px;
}
.lenguajes{
    text-align: center;
}
.lenguajes i{
    font-size: 40px;
    margin-top: auto;
}
.contenedor-icono {
    position: relative;
    display: inline-block;
}
.contenedor-icono img{
    width: 40px;
    height: 40px;
}
/* Estilo para el tooltip */
.tooltip {
    visibility: hidden;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Posición arriba del icono */
    left: 50%;
    margin-left: -30px; /* Centra el tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
/* Muestra el tooltip cuando el ratón pasa sobre el contenedor */
.contenedor-icono:hover .tooltip , .contenedor-logo:hover .tooltip{
    visibility: visible;
    opacity: 1;
}
#php{
    color: #000;
    background-color: rgb(137, 147, 190);
}
#js{
    color: #e3fa14;
}
#html{
    color: #ff6200;
}
#css{
    color: #00a2ff;
}
#mysql{
    color: #005a9e;
    /* width: 20px; */
}
#react{
    color: #3f89c1;
}

/* FOOTER_CONTACTO */
.footer_contacto {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    width: 90%;
}
.contacto{
    width: 48%;
    padding: 20px;
}
.text-base-contacto {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.contacto-p > i {
    padding: 5px;
}
.btn-copiar {
    align-items: center;
    padding: 8px 10px;
    font-size: 14px;
    background-color: #0055a5;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
}
.btn-copiar:hover{
    background-color: #084382;
}
#mensaje {
    display: none;
    margin-top: 10px;
    padding: 8px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 4px;
}
.email {
    width: 40%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    border-radius: 8px;
    background-color: #212F3C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: start;
}
form label {
    display: block;
    margin-bottom: 6px;
    font-size: 20px;
    color: #ffffff;
}
input::placeholder, textarea::placeholder{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #ffffff;
    opacity: .7;
}
form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 2px solid #cacaca;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #1c2834;
}
input:valid, textarea:valid{
    color: #fff;
    font-size: 15px;
}
form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
form button:hover {
    background-color: #45a049;
}
form button div {
    display: none;
    align-items: center;
    justify-content: center;
}
form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
footer > section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.made {
    padding: 20px;
}
