* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #212F3C;
    color: #ffffff;
}
main{
    width: 90%;
    max-width: 900px;
    margin: 1.7em auto;
}


/* Estilos para el modo claro */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}
.light-mode button{
    color: black;
    background-color: white;
}
.light-mode .mode-button:active {
    background-color: #243f4c;
    outline: 0;
}
.light-mode .img_profile img {
    border: 5px solid #000000;  
}
.light-mode .presentacion .miDescripcion{
    color: #000000;
    opacity: 1;
}


.mode {
    text-align: right; /* PUEDO NO SERVIR */
    height: 100px;
}
/* Estilos para el botón de cambio de modo */
.mode-button {
    align-items: center;
    background-color: #15222f;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #243f4c;
    cursor: pointer;
    font-size: 2em;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.mode-button:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}
.mode-button:hover:after {
    transform: translate(0, 0);
}
.mode-button:active {
    background-color: #ffffff;
    outline: 0;
}
.mode-button:hover {
    background-color: #041621;
    outline: 0;
}


/* IMAGEN_PERFIL-NOMBRE-DESCRIPCION */
.presentacion{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.img_profile {
    z-index: 2;
    flex: 0;
}
.img_profile img {
    width: 200px; /* Ancho deseado */
    height: 200px; /* Altura deseada */
    object-fit:cover; /* Mantiene las proporciones y recorta el contenido que sobresale */
    object-position: bottom; /* Ajusta la posición de la imagen hacia la parte inferior */
    border-radius: 50%;
    border: 5px solid #304559; /*#111;*/
    transition: transform 0.3s ease; /* Agrega una transición suave al efecto de zoom */
    cursor: zoom-in; 
}
#zoom-image {
    transition: transform 0.3s ease-in-out;
}
.zoomed {
    transform: scale(1.5);
}
/*HIJO DE PRESENTACION*/
.description {
    flex: 1;
    padding: 55px;
    position: relative;
    z-index: 1;
}
/* NOMBRE */
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 55px;
    font-size: 50px;
}
.miDescripcion{
    font-family: 'Montserrat', sans-serif;
    opacity: 0.7;
    font-size: 20px;
    margin-top: 20px;
}


/* LINEA SEPARACIÓN */
hr{
    border: none; /* Sin borde predeterminado */
    height: 2px; /* Altura de la línea */
    background-color: #1a6d2c; 
    margin: 20px 0; 
    animation: expand 3s ease infinite; /* Animación de expansión */
}
@keyframes expand {
    0% {
        width: 0; /* Comienza sin ancho */
    }
    100% {
        width: 100%; /* Vuelve a cero al final de la animación */
    }
}



